.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.formTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: center;
  justify-content: start;
  width: 100%;
  border-radius: 0px;
  gap: 1em;
}

.formLabel {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}
// ? like this we can style MUI components in Style sheet
.formInput {
  :global {
    .MuiOutlinedInput-root {
      // color: blue;
      fieldset {
        border-color: red; // Change border color here
        border-radius: var(--border-radius); // Change border radius here
      }
      &:hover fieldset {
        border-color: blue; // Change hover border color here
      }
      &.Mui-focused fieldset {
        border-color: var(--main-color); // Change focused border color here
      }
    }
  }
}

.formInput:focus {
  border: 2px solid #646cffaa;
  outline: none;
}

.formBtn {
  padding: 0.8rem 2.8rem;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 10px;
  font-weight: 700;
  margin: 10px;
}

.formWrapper {
}

.formInputMsg {
  width: 50em;
}

.formInputMsg::-webkit-resizer {
  // display: none;
}

.formInputMsg::-webkit-scrollbar {
  width: 8px;
}

.formInputMsg::-webkit-scrollbar-track-piece {
}

.formInputMsg::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-text-color);
}

.formInputMsg::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text-color);
  border-radius: 5px;
}

.formInputMsgWrapper {
  background-color: var(--secondary-color);
}
