.root {
  padding: 6rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.button {
  background-image: linear-gradient(90deg, #5f2d77 0%, #161616 100%);
  margin: 1rem 0rem 0rem;
  background-color: transparent;
  background-origin: padding-box;
  background-clip: border-box;
  background-position: 0% 0%;
  background-size: auto auto;
  background-attachment: scroll;
  background-repeat: repeat;
  display: flex;
}
.letsCollabDark,
.letCollab {
  & > * {
    color: #fff;
    font-size: 18px;
  }

  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 0.8rem 2rem 0.8rem 2.3rem;
  align-items: center;
  align-content: center;
  gap: 5px;
}
.letCollab {
  background-image: linear-gradient(90deg, #5f2d77 0%, #161616 100%);
}
.letsCollabDark {
  background-image: linear-gradient(90deg, #ecc3ff 0%, #5f2d77 100%);
}

.iconSend {
  transform: rotate(-45deg) scale(1.1);
  margin-left: 0.4rem;
  margin-right: 0px;
  display: block;
}

.subtitle {
  margin-top: 0rem;
}

.desription {
  margin-top: 0.6rem;
}

.letsCollab {
}
